My workflow 3.json
{
  "name": "My workflow 3",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "1K6rIHT1df6uNSWiFBZWhq8iaNr32KNxq",
          "mode": "id"
        },
        "event": "fileUpdated",
        "options": {}
      },
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [
        -1040,
        -48
      ],
      "id": "4ef34351-8e7e-43fb-80b6-1f309536bdee",
      "name": "Google Drive Trigger",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "HPOYApC5E3I6P5Te",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json[\"id\"] }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -912,
        -240
      ],
      "id": "2abc9117-6db6-42dc-8b16-36a5785fc789",
      "name": "Download file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "HPOYApC5E3I6P5Te",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "pdf",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        -752,
        0
      ],
      "id": "d6c9e22b-7165-427a-bab4-88b13cf39f7e",
      "name": "Extract from File"
    },
    {
      "parameters": {
        "jsCode": "const text = $json[\"text\"]; // Extracted text from the previous node\nconst chunkSize = 1000;     // Approximate number of characters per chunk\nlet chunks = [];\n\n// Split text into chunks\nfor (let i = 0; i < text.length; i += chunkSize) {\n  chunks.push({ chunk: text.substring(i, i + chunkSize) });\n}\n\nreturn chunks;\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -592,
        -224
      ],
      "id": "fe2ff9d3-167b-4e63-a25f-e18652a02b6d",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=summarize the following text in a structured format\n-key takeaways\n-important lessons\n-core principles\nText :{{ $json[\"chunk\"] }}",
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.7,
      "position": [
        -384,
        -224
      ],
      "id": "ffc8d16d-4ca6-4a82-b9f6-99b72edfbe30",
      "name": "Basic LLM Chain"
    },
    {
      "parameters": {
        "jsCode": "// Check if input items exist\nif ($items().length === 0) {\n  return [\n    {\n      json: { error: \"No input data is received\" },\n    },\n  ];\n}\n\n// Extract summaries (or text) from each item\nconst summaries = $items()\n  .map(item => item.json?.summary?.trim() || item.json?.text?.trim() || \"\")\n  .filter(text => text);\n\n// Debugging: Print extracted summaries in execution logs\nconsole.log(\"Extracted summaries:\", summaries);\n\nif (summaries.length === 0) {\n  return [\n    {\n      json: { error: \"No valid text found\" },\n    },\n  ];\n}\n\n// Combine all summaries into one string\nconst finalSummary = summaries.join(\"\\n\\n\");\n\n// Encode the final summary to Base64\nconst encodedSummary = Buffer.from(finalSummary, \"utf-8\").toString(\"base64\");\n\n// Return the summary as a downloadable text file\nreturn [\n  {\n    json: {\n      message: \"Summary generated successfully!\",\n      totalChunks: summaries.length,\n      summaryLength: finalSummary.length,\n    },\n    binary: {\n      file: {\n        data: encodedSummary,\n        mimeType: \"text/plain\",\n        fileName: \"summary.txt\",\n      },\n    },\n  },\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -256,
        48
      ],
      "id": "0592943f-1c51-4721-93d7-69045c124fe1",
      "name": "Code in JavaScript1"
    },
    {
      "parameters": {
        "inputDataFieldName": "=file",
        "name": "={{ $binary.file.fileName }}",
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "value": "1K6rIHT1df6uNSWiFBZWhq8iaNr32KNxq",
          "mode": "list",
          "cachedResultName": "book summary",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1K6rIHT1df6uNSWiFBZWhq8iaNr32KNxq"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -48,
        48
      ],
      "id": "5cbcd7ba-eb02-4ff4-8127-a2fb56df5559",
      "name": "Upload file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "HPOYApC5E3I6P5Te",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -464,
        -16
      ],
      "id": "1ea32969-a5e6-4c9c-bd12-5a71ed804279",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "tAV13QMVPZr0pBgC",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Google Drive Trigger": {
      "main": [
        [
          {
            "node": "Download file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download file": {
      "main": [
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Basic LLM Chain": {
      "main": [
        [
          {
            "node": "Code in JavaScript1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript1": {
      "main": [
        [
          {
            "node": "Upload file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "7ef6f667-e52c-4cd7-abf0-727f6b109977",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "76daa2c32bad1afa0493092a0248f3eea7a44810f70b5263ef9d92536e71cc8a"
  },
  "id": "zKnqJJHpPCq2kETT",
  "tags": []
}